In [1]:
#Akanksha Gupta
#akankshagpt18@gmail.com

In [2]:
import pandas as pd
import numpy as np

In [5]:
dataset = pd.read_csv("//Users/Asad/Downloads/screening_exercise_orders_v201810.csv")
dataset.head()

   customer_id  gender                 date  value  predicted_gender
0         1000       0  2017-01-01 00:11:31  198.5                 1
1         1001       0  2017-01-01 00:29:56  338.0                 1
2         1002       1  2017-01-01 01:30:31  733.0                 1
3         1003       1  2017-01-01 01:34:22  772.0                 1
4         1004       0  2017-01-01 03:11:54  508.0                 1

In [11]:
# A) 
dataset['date'] = pd.to_datetime(dataset['date']).dt.date
z = dataset.groupby(['customer_id','gender','date']).size().reset_index(name='count')
z.head(10)

   customer_id  gender        date  count
0         1000       0  2017-01-01      1
1         1001       0  2017-01-01      1
2         1002       1  2017-01-01      1
3         1002       1  2017-01-23      1
4         1002       1  2017-02-19      1
5         1003       1  2017-01-01      1
6         1003       1  2017-01-20      1
7         1003       1  2017-04-25      1
8         1003       1  2017-04-26      1
9         1004       0  2017-01-01      1

In [58]:
# B. Plot the count of orders per week

df['date'] = pd.to_datetime(dataset['date'], errors='coerce')
df['Week_Number'] = dataset['date'].dt.week
x = dataset.groupby(['Week_Number']).size().reset_index(name='count')
x.head()

   Week_Number  count
0            1    180
1            2    264
2            3    405
3            4    233
4            5    211

In [55]:
x.plot(x='Week_Number', y='count')

In [63]:
#C) Compute the mean order value for gender 0 and for gender 1. Do you think the difference is significant?

dataset.groupby('gender').mean()

        customer_id       value  predicted_gender  Week_Number
gender
0       5032.640331  363.890006          0.504513    25.880012
1       5034.754172  350.708361          0.782032    25.685638

In [90]:
import pandas
from scipy import stats
from math import sqrt
from scipy.stats import t

# Import data
# data = pandas.read_csv('data.csv')

# Run independent t-test
ind_t_test = stats.ttest_ind(dataset.value[dataset.gender == 0],dataset.value[dataset.gender == 1])

# Calculate the mean difference and 95% confidence interval
N1 = 30
N2 = 30
df = (N1 + N2 - 2)
std1 = dataset.value[dataset.gender == 0].std()
std2 = dataset.value[dataset.gender == 1].std()
std_N1N2 = sqrt( ((N1 - 1)*(std1)**2 + (N2 - 1)*(std2)**2) / df) 

diff_mean = dataset.value[dataset.gender == 0].mean() - dataset.value[dataset.gender == 1].mean()
MoE = t.ppf(0.975, df) * std_N1N2 * sqrt(1/N1 + 1/N2)

print('The results of the independent t-test are: \n\tt-value = {:4.3f}\n\tp-value = {:4.3f}'.format(ind_t_test[0],ind_t_test[1]))
print ('\nThe difference between groups is {:3.1f} [{:3.1f} to {:3.1f}] (mean [95% CI])'.format(diff_mean, diff_mean - MoE, diff_mean + MoE))

The results of the independent t-test are:
	t-value = 1.976
	p-value = 0.048

The difference between groups is 13.2 [-186.9 to 213.3] (mean [95% CI])

In [91]:
# We will reject the Null hypothesis as the p-value is low(I assumed p-value = 0.05). Hence it is statistically significant.

In [96]:
# D) Generate a confusion matrix for predicted gender. 
# Do not use a library function to do this. 
# What does the confusion matrix tell you about the quality of the predictions

In [108]:
actual = dataset.gender
predicted = dataset.predicted_gender

In [116]:
def print_confusion_matrix(actual, predicted):
    cm = confusion_matrix(actual, predicted)
    print('True positive = ', cm[0][0])
    print('False positive = ', cm[0][1])
    print('False negative = ', cm[1][0])
    print('True negative = ', cm[1][1])
print_confusion_matrix(actual, predicted)

True positive =  3349
False positive =  3410
False negative =  1463
True negative =  5249

In [120]:
print('Accuracy', (5249+3349)/13472)

Accuracy 0.6382125890736342

In [ ]:
# Using the confusion matrix, the accuracy of the prediction is approx 64 percent.